@use '../../variables' as v;
@import '../../../node_modules/rfs/scss';

    #files {
      display: none;
    }

    .cover {
      margin-top: -150px;
      height: 150px;
      background: red;
      position: relative;
      z-index: 3;
    }

    .dragDrop {
      width: 80%;
      border: dashed black;
      padding: 3%;
      position: relative;
      z-index: 1;

      p {
        color: v.$blue;
        text-shadow: 2px 2px 2px black;
        cursor: default;
        @include font-size(1.8rem);
      }

      .upload {
        margin-inline: auto;
      }
    }

    .dragDropActive {
      width: 80%;
      border: dashed grey;
      padding: 3%;
      position: relative;
      z-index: 1;

      p {
        color: v.$blue;
        text-shadow: 2px 2px 2px black;
        cursor: default;
        @include font-size(1.8rem);
      }

      .upload {
        margin-inline: auto;
      }
    }
