@use '../../variables' as v;
@import '../../../node_modules/rfs/scss';
@import '../../../node_modules/animatewithsass/animate.scss';

.access {
  width: 100%;
  padding-bottom: 10%;
  padding-inline: 0;

  .redLine {
    background: firebrick;
    width: 20%;
    height: 5px;
  }

  .dataSheets {
    width: 100%;
    padding-top: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 50px;


    .entranceLeft {
      @include slideInLeft(
        $duration: 2s,
        $count: 1,
        $delay: .2s,
        $function: ease,
        $fill: both
      );
    }

    .entranceRight {
      @include slideInRight(
        $duration: 2s,
        $count: 1,
        $delay: .1s,
        $function: ease,
        $fill: both
      );
    }

    a {
      width: 315px;
      height: 750px;
      margin-inline: 2%;

      @media (max-width: 684px) {
        height: auto;
      }
    }

    .noCur {
      cursor: auto !important;

      ul li {
        cursor: auto;
      }
    }

    .data {
      width: 100%;
      position: relative;
      border: 2px solid black;
      background: white;
      cursor: pointer;

      .smooth {
        width: 100%;
        padding: 0;
        padding-bottom: 5%;
      }

      img {
        object-fit: contain;
        height: 24rem;
        width: 100%;
        padding: 20%;
        position: relative;
        z-index: 5;
      }

      .dataTxt {
        text-align: left;
        padding-inline: 2%;
        width: 100%;
        height: 40vh;
        margin-top: -10%;
        background: v.$grey;
        color: white;
        position: relative;
        z-index: 6;

        @media (max-width: 684px) {
          height: auto;
          padding-bottom: 15%;
        }

        h4 {
          font-weight: 550;
          font-family: bitter;
          text-shadow: 1.5px 1.5px firebrick;
          @include font-size(1.8rem);
        }

        h5 {
          font-family: bitter;
          text-shadow: 1px 1px firebrick;
          letter-spacing: 0.1rem;
          @include font-size(1.1rem);
        }

        p {
          font-weight: 100;
        }


        ul li {
          list-style-type: disc;
          font-weight: 300;
        }

        .databutt {
          position: absolute;
          text-shadow: none;
          right: 2%;
          bottom: 2%;
          padding: 10px;
          padding-left: 22px;
          @include font-size(1rem);

          .download {
            position: absolute;
            left: 1%;
          }
        }

      }
    }
  }
}
