@use '../../variables' as v;
@import '../../../node_modules/rfs/scss';

.rebMain {
  width: 100%;
  padding: 0;
  margin-top: 5%;

  .grey {
    background-color: v.$grey;
    color: white;
  }

  .rebCon {
    width: 100%;
    display: flex;
    align-items: center;

    @media (max-width: 990px) {
      flex-direction: column;
      width: 100%;
      border: 1px solid v.$grey;
      padding-bottom: 2%;
    }

    img {
      width: 35%;
      height: 25rem;
      object-fit: cover;

      @media (max-width: 990px) {
        width: 100%;
      }
    }

    .rebTx {
      width: 100%;
      flex-direction: column;
      text-align: left;
      padding-left: 2%;

      h3 {
        font-weight: 600;
      }

      p{
        line-height: 1.4rem;
        padding-right: 40%;
        margin-top: 2%;
      }

      ul {
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;

        li {
          list-style-type: disc;
        }
      }
    }
  }
}
