@use '../variables' as v;
@import '../../node_modules/rfs/scss';

@mixin nav {

  img {
    margin-top: 1%;
    width: 140px;
  }

  ul {
    flex-direction: column;
    padding: 0;
    margin: 0;

    li {
      margin: 5% 0;
    }
  }
}

.ham {
  display: none;
  position: fixed;
  color: white;
  width: 100%;
  padding-top: 1.5%;
  z-index: 9;
}

.nav, .navAct{
  display: flex;
  position: fixed;
  width: 100%;
  padding-inline: 2%;
  align-items: center;
  justify-content: space-between;
  background: v.$grey;
  color: white;
  z-index: 8;


  img {
    width: 15%;
    margin: 0;
    cursor: pointer;
  }

  ul {
    display: flex;
    margin: 0;
    margin-bottom: 5%;

    li {
      position: relative;
      font-family: Copperplate;
      padding-inline: 10px;
      @include font-size(1.3rem);

      a {
        &.active {
          color: red;
        }
      }

      &:hover {
        color: red;
      }

      .products, .contact {
        position: absolute;
        flex-direction: column;
        margin: 0;
        padding: 0;
        background: v.$grey;
        text-align: left;
        color: white;
        width: 100%;
        z-index: 9;

        li {
          margin: 0;
          padding: 0;
          width: 100%;
          &:hover {
            color: red;
            border-left: 2px solid white;
          }

        }


      }
    }

  }
}

@media (max-width: 1150px) {
  .ham {
    display: block;
  }

  .nav {
    height: 60px;
    @include nav;

    ul {
      display: none;
    }
  }

  .navAct {
    padding-top: 2%;
    padding-bottom: 2%;
    justify-content: center;
    @include nav;

    @media(max-width: 600px) {
      padding-top: 5%;
    }

    ul {
      margin-top: 5%;

      li .products {
        position: relative;
        text-align: left;
      }
      li .contact {
        text-align: left;
      }
      .arrow {
        display: none;
      }
    }
  }
}
